.toggleButton {
	width: 60px;
	height: 30px;
	background-color: gray;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.4s;
	position: relative;

	@media (max-width: 450px) {
		width: 40px;
		height: 20px;
	}

	.ball {
		width: 22px;
		height: 22px;
		background-color: #e9e8e8;
		border-radius: 50px;
		position: absolute;
		left: 4px;
		top: 4px;
		transition: all 0.4s;

		@media (max-width: 450px) {
			width: 13px;
			height: 13px;
		}
	}

	&.active {
		background-color: var(--color-ui-second);

		.ball {
			left: 35px;

			@media (max-width: 450px) {
				left: 23px;
			}
		}
	}
}
